# Example .env file for Hardhat Base networks
# Fill in your actual values
NETWORK=hardhat
PRIVATE_KEY=your_private_key_here
# PRIVATE_KEY=0x4e9d71cbd071587f7f62f6ad02c3fda9fd277bc8ceac7664aac2244c28d7390f
ETHERSCAN_API_KEY=your_base_etherscan_key_if_you_verify
INFURA_API_KEY=your_infura_api_key_here
PROXY_ADDRESS=your_proxy_address_here